@import "tailwindcss";

@theme {
    --color-lamaSky: #C3EBFA;
    --color-lamaSkyLight: #EDF9FD;
    --color-lamaPurple: #CFCEFF;
    --color-lamaPurpleLight: #F1F0FF;
    --color-lamaYellow: #FAE27C;
    --color-lamaYellowLight: #FEFCE8;
}

.react-calendar {
    width: 100% !important;
    border: none !important;
    font-family: 'Inter', sans-serif !important;
}

.react-calendar__navigation__label__labelText {
    font-weight: 600;
}

.react-calendar__tile--active {
    background-color: #c3ebfa !important;
    color: black !important;
}

.react-calendar__tile--now {
    background-color: #FAE27C !important;
}